<!-- THIS DOCUMENT CONTAINS THE INFORMATION DISPLAYED ON ALL WEB PAGES-->

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/base.css">
<style>

</style>
</head>
<body>
    <nav class="navbar navbackground">
        <ul class="nav-list">
            <li><a href="about"> About </a></li>
            <li><a href="projects"> Projects </a></li>
            <li><a href="contact"> Contact </a></li>
        </ul>
    </nav>

    
<div class="dbody">
{% block content %} 


{% endblock %}
</div>


</body>
</html>